@charset "UTF-8";

@font-face {
    font-family: Sriracha;
    src: url(../../letras/Sriracha/Sriracha-Regular.ttf);
}
body{
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, 
    #e73c73, #23a6d5, #23d5ab) 
    no-repeat;
    background-size: 300% 300%;
    font: 20px Sriracha;
    animation: grandef 10s ease alternate infinite;

}
@keyframes grandef{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 25%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 75% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
div{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: auto;
    text-align: justify;
    

}
h2{
    text-align: center;
}
p.job{
    margin: 10px;
}
p.job > a{
    text-decoration: none;
    color: red;
    padding: 10px;
    text-align: center;
}
p.job > a#pag{
    color: red;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
    div{
        width: auto;
        height: auto;
        margin: auto;

    }
}
@media screen and (min-width: 401px) and (max-width: 600px){
    div{
        width: auto;
        height: auto;
        margin: auto;

    }
}
@media screen and (min-width: 601px) and (max-width: 768px){
    div{
        width: auto;
        height: auto;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    div {
        width: 550px;
        height: auto;
        font-size: 23px;
    }
    
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
    div {
        width: 650px;
        height: auto;
        font-size: 23px;
    }
    
}
@media screen and (min-width: 1201px) {
    div {
        width: 750px;
        height: auto;
        font-size: 25px;
    }
    
}
